<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title><%= typeof title !== "undefined" ? title : "ImperialPaws Pekingese" %></title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  
  
  
  
  
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
/>
<link rel="stylesheet" href="/css/invoice.css">
<link rel="stylesheet" href="/css/puppies.css">
<link rel="stylesheet" href="/css/puppy-details.css">
<link rel="stylesheet" href="/css/home-featured.css">
<link rel="stylesheet" href="/css/testimonials-lux.css">
<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/footer.css">
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/about.css">

  <link rel="stylesheet" href="/css/home-index.css">
<link rel="stylesheet" href="/css/adoption-process.css">

<link rel="stylesheet" href="/css/sub-pages.css">







</head>

<body class="<%= typeof pageClass !== 'undefined' ? pageClass : '' %>">
  <%- include("../partials/header") %>

  <main class="main-content">
    <%- body %>
  </main>

  <%- include("../partials/footer") %>


  <script>
  function setMainImage(src, el) {
    const main = document.getElementById("mainPuppyImage");
    if (!main) return;

    main.style.opacity = 0;
    setTimeout(() => {
      main.src = src;
      main.style.opacity = 1;
    }, 150);

    document.querySelectorAll(".lux-thumb").forEach(t => {
      t.classList.remove("active");
    });

    el.classList.add("active");
  }
</script>



<script src="/js/header.js"></script>
<script src="/js/site.js"></script>

<script src="/js/scroll-reveal.js"></script>

</body>
</html>
